<div style="
    width:100%;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
">
    {% if textbox_list %}
    {% for textbox in textbox_list %}
    <div style="
            background-color:#fff;
            width:100%;
            margin: 50px 0;
        ">
                  font-family:{{ textbox.text_fontfamily }};
        {% autoescape off %}
            {{ textbox.content }}
        {% endautoescape %}
    </div>
    {% endfor %}
    {% endif %}
</div>
